<form class="layui-form layui-form-pane" action="" method="post" style="padding-top: 20px">
{{ .xsrfdata }}
    <div class="layui-form-item">
        <div class=" layui-col-md9">
            <input type="text" class="layui-input" name="key" placeholder="可输入姓名,电话" value="{{.key}}">
        </div>
        <div class="layui-col-md3">
            <button class="layui-btn layui-btn-sm">搜索</button>
        </div>
    </div>
</form>

<div>
    <table class="layui-table">
        <thead>
        <td>学号</td>
        <td>姓名</td>
        <td>语文</td>
        <td>数学</td>
        <td>英语</td>
        <td>物理</td>
        <td>化学</td>
        <td>总分</td>
        </thead>
        <tbody>
        {{range .list}}
        <tr>
            <td>{{.Number}}</td>
            <td>{{.Name}}</td>
            <td>{{.Chinese}}</td>
            <td>{{.Math}}</td>
            <td>{{.English}}</td>
            <td>{{.Py}}</td>
            <td>{{.Bi}}</td>
            <td>{{.Total}}</td>

        {{/*<td>*/}}
        {{/*<button class="layui-btn layui-btn-sm" onclick="edit()"><a href="{{urlfor "StudentControllers.Update"}}?id={{.id}}">编辑</a></button>*/}}
        {{/*</td>*/}}
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<div id="pages"></div>


<script>
    layui.use(['form','laypage','jquery'],function () {
        var form = layui.form,
                $ = layui.$,
                laypage = layui.laypage;

        laypage.render({
            elem: 'pages'
            ,count: {{.pagecount}}
            ,curr:{{.page}}
            ,limit:{{.pagelimit}}
            ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            ,jump: function(obj, first){

                //首次不执行
                if(!first){
                    location.href="{{urlfor "EscoreControllers.List"}}?page="+obj.curr+"&limit="+obj.limit+"&key="+{{.key}};

                }
            }
        });
    });
</script>